/* Below classes were used to learn float property */

/* .box {
   height: 100px;
   width: 200px;
}

.red {
   background-color: red;
}

.green {
   background-color: green;
}

.blue {
   background-color: blue;
}

.purple {
   background-color: purple;
}

.yellow {
   background-color: yellow;
}

.orange {
   background-color: orange;
}

.left {
   float: left;
}

.right {
   float: right;
}

.clear-left {
   clear: left;
}

.clear-right {
   clear: right;
}

.clear-both {
   clear: both;
} */

/* Global Styles */
body {
    margin: 0;
 }
 
 /* Nav Styles */
 .main-nav {
    height: 75px;
    background-color: #333333;
 }

 .main-nav:hover {
    height: 85px;
}

 .logo {
    height: 56px;
    padding: 10px;
 }

 .logo:hover {
    height: 66px;
}

 .nav-list {
    float: right;
 }

 ul {
     list-style: none;
 }
 
 li {
    color: white;
    float: left;
    padding: 14px 16px;
 }

 li:hover {
    font-size: 30px;
    padding: 20px;
}

 .center {
    text-align: center;
 }

 /* End Nav Styles */

 /* Start of Content */

 .content {
    height: 85vh;
 }

 .map {
    width: 600px;
    height: 450px;
 }
 

 /* End of Content */

 /* Start of Footer */

 .footer {
   background-color: brown;
 }

 a {
    color: white;
    text-decoration: none;
 }

.social-media {
   height: 50px;
   margin-bottom: 0px;
   list-style-type: none;
}

 /* End of Footer */